<!--HEADER-->
<header class="main-header mt-5">
  <div class="background-overlay text-white py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 text-center justify-content-center align-self-center">
          <h1>Mantenimiento y reparacion</h1>
          <p>Mantenimiento Y Reparación De Computadoras, Si su equipo dejo de funcionar, no se preocupe, 
            nosotros lo solucionamos, contamos con técnicos capaces de solucionar el problema en el lugar de su 
            negocio o residencia, y si se requiere traslado hasta nuestro taller de reparación, su equipo será 
            devuelto con la garantía de no realizar ningún cambio ajeno al servicio solicitado.  </p>
          <a href="https://wa.me/593989502410?text=Gracias%20por%20comunicarte%20con%20WsolucionesGSM.%20%C2%BFC%C3%B3mo%20podemos%20ayudarte%3F%20%F0%9F%93%B2" class="btn btn-outline-secondary btn-lg text-white" target="_blank">
            Contactanos
          </a>
        </div>
        <div class="col-md-6">
          <img src="/img/arreglo.jpg" alt="arreglo" class="img-fluid d-none d-sm-block arreglo">
        </div>
      </div>
    </div>
  </div>
</header>
<!--SECTIONS-->
<section class="text-white py-2 section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 justify-align-center mx-auto">
        <div class="mb-3 text-dark text-center">
          <img class="card-img-top justify-align-center mx-auto img-laptop" src="/img/laptop.jpg" alt="Card image cap"
            style="width: 50%;">
          <div class="card-body">
            <h5 class="card-title">Nuestros servicios de reparación</h5>
            <p class="card-text">Sabemos lo importante que es para usted solucionar el problema, por eso, garantizamos
              dar solución en un máximo de 72
              horas una vez que ha sido diagnosticado su equipo, conozca todo sobre nuestros diferentes servicios que le
              pueden hacer mucho más fácil y
              efectivo un proceso o tarea dentro de su Empresa, Negocio o Residencia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--SECTION FEAUTERS-->
<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 letras-features">
        <div class="card index">
          <div class="card-body text-center">
            <i class="fas fa-6x fa-laptop icono"></i>
            <h4 class="text text-primary">MANTENIMIENTO DE PC Y LAPTOP</h4>
            <p>Si su equipo está funcionando adecuadamente, y desea darle solo un mantenimiento preventivo para seguirlo
              manteniendo así y tener la certeza de garantizar la seguridad del equipo y la información que almacena en
              el.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 letras-features">
        <div class="card index">
          <div class="card-body text-center">
            <i class="fab fa-6x fa-windows icono"></i>
            <h4 class="text text-primary">REPARACIÓN DE SOFTWARE</h4>
            <p>Cuando su equipo ya necesita formateo e instalación de sistema operativo, antivirus, paquetería de
              ofimática,
              así como la paquetería complementaria para trabajar en oficina o realizar sus trabajos y tareas de la
              escuela.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 letras-features">
        <div class="card index">
          <div class="card-body text-center">
            <i class="fas fa-6x fa-tools icono"></i>
            <h4 class="text text-primary">REPARACIÓN DE HARDWARE</h4>
            <p>Actualización de computadoras, reemplazo de discos, expansión de memoria RAM, cambio de display,
              cargadores o
              eliminadores de corriente, baterías, teclados, procesadores, tarjetas, centro de carga, cable de video,
              entre otros.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 letras-features">
        <div class="card index">
          <div class="card-body text-center">
            <i class="fas fa-6x fa-mobile-alt icono"></i>
            <h4 class="text text-primary">MANTENIMIENTO DE TU CELULAR</h4>
            <p>Si su telefono está funcionando adecuadamente, y desea darle solo un mantenimiento preventivo para
              seguirlo manteniendo así
              y tener la certeza de garantizar la seguridad del telefono y la información que almacena en el.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--SECTION Experiencia-->
<section class="py-2 experiencia type3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 justify-align-center mx-auto">
        <img src="/img/reparacion.png" alt="reparacion" class="img-fluid" style="width:40%;">
        <img src="/img/laptop-cell.jpg" alt="reparacion" class="img-fluid" style="width:50%;">
      </div>
      <div class="col-md-6 py-3">
        <h4 class="text text-primary">AÑOS DE EXPERIENCIA BRINDANDO SERVICIOS COMPUTACIONALES A SU ALCANCE</h4>
        <article>
          <p>Somos una empresa 100% Hidalguense, que brinda servicios y soluciones en Tecnologías de la Información,
            dirigido a la pequeña y mediana empresa, respaldado por personal capacitado. Conozca todo sobre nuestros
             diferentes servicios que le pueden hacer mucho más fácil y efectivo un proceso o tarea dentro de su empresa, 
             negocio o residencia, MANTENIMIENTO Y REPARACION DE COMPUTADORAS, INSTALACION DE PERIFERICOS, 
             entre otros.</p>
        </article>
      </div>
    </div>
  </div>
</section>