<header class="main-about">
    <div class="background-overlay-about text-white text-center">
        <h2 class="py-5"><b>Servicios</b></h2>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="imagen">
                <div class="info">
                    <h4 class="text text-center text-white headline">
                        Mantenimiento y reparación de computadoras
                    </h4>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio basicos de Laptop/Pc (Formateo y instalacion)</p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio completo de Pc/Laptop</p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio de mantenimiento preventivo</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="imagen2">
 <div class="info">
                    <h4 class="text text-center text-white headline">
                        INSTALACIÓN Y CONFIGURACIÓN DE CÁMARAS DE VIGILANCIA
                    </h4>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Le permitirá prevenir delitos o acciones ilícitas en su negocio, empresa y hogar.  </p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Vigilará lo que pasa en su negocio, empresa y hogar en cualquier parte del mundo y a cualquier hora.</p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Tendrá la capacidad de gestionar y ver el video de días atrasados.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="imagen3">
 <div class="info">
                    <h4 class="text text-center text-white headline">
                        Mantenimiento y reparación de Celulares
                    </h4>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio basicos de Celular/Tablets (Formateo y instalacion)</p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio completo de Celular/Tablets</p>
                    <p class="text text-white parrafo"><i class="fas fa-1x fa-check-circle" style="color:green"></i> Servicio de mantenimiento preventivo</p>
                </div>
            </div>
        </div>
    </div>
</div>