<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase text-white"><i class="fas fa-bars"> Menu</i></h5>
        <ul class="list-unstyled">
          <li>
            <a href="/" class="text-primary"><i class="fas  fa-home"> Inicio</i></a>
          </li>
          <li>
            <br>
            <a href="/about" class="text-primary"><i class="fas  fa-address-card"> Nosotros</i></a>
          </li>
          <li>
            <br>
            <a href="/servicios" class="text-primary"><i class="fas fa-phone-alt"> Servicios</i></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white"><i class="fas fa-users"> Desarrollador</i></h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="https://wa.me/+593939239986"  class="text-primary" target="_blank"><i class="fas fa-user-check">German Quinde Pisco - Whatsapp</i></a>
            </p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white"><i class="fas fa-user"> Contactos</i></h5>

        <ul class="list-unstyled">
          <li>
            <p href="#!" class="text-primary"><b>Wilmer Paguay </b></p>
          </li>
          <li>
            <p href="#!" class="text-primary">Telefono: 0987654321</p>
          </li>
          <li>
            <p class="text-primary">Direccion: norte de Guayaquil</p>
          </li>
          <li>
            <p href="#!" class="text-primary">wsolciones@gmail.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white">Redes Sociales y Ubicacion</h5>

        <ul class="list-unstyled">
          <div class="row">
            <div class="col-md-3">
              <a href="https://www.facebook.com/WsolucionesGSM/" target="_blank"><i
                  class="fab fa-3x fa-facebook"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.instagram.com/wsoluciones_gsm/?hl=es-la" target="_blank"><i
                  class="fab fa-3x fa-instagram"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://wa.me/593989502410?text=Gracias%20por%20comunicarte%20con%20WsolucionesGSM.%20%C2%BFC%C3%B3mo%20podemos%20ayudarte%3F%20%F0%9F%93%B2"
                target="_blank"><i class="fab fa-3x fa-whatsapp"></i></a>
            </div>
            <div class="col-md-3">
              <a href="https://goo.gl/maps/2MGwFQChHs6WYhij6" target="_blank"><i
                  class="fas fa-3x fa-map-marker-alt"></i></a>
            </div>
          </div>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <!-- Grid row -->
    <div class="footer-copyright text-center py-3">
      <p class="text-white"> © 2020 Copyright
        <img src="/img/logoEquipo.jpeg" class="rounded-circle mx-auto d-block m-4 logoEquipo" alt="logoEquipo">
        SystemLogin S.A
      </p>
    </div>
    <!-- Copyright -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->


</footer>
<!-- Footer -->