<div class="container py-4">
<div class="row">
    <div class="col-sm-4">
        <img src="/img/prohibido_paso.jpg" class="mx-auto d-block m-4 prohibido" alt="prohibido">
    </div>
    <div class="col-sm-8">
        <div class="card-body">
            <h5 class="card-title">No autorizado</h5>
            <br>
            <p class="card-text">Usted no tiene permisos suficientes para acceder este sitio</p>
            <br>
            <a href="/" class="btn btn-warning">Volver al sitio</a>
        </div>
    </div>
</div>
</div>